$buildings: (
  adder,
  advanced_processor,
  advanced_processor-unmixer,
  advanced_processor-stacker,
  advanced_processor-painter,
  diode,
  diode-buffer,
  memory,
  memory-t,
  memory-simple,
  memory-write_enable,
  multiplexer,
  multiplexer-demuxer,
  wire_tunnel-forward,
  wire_tunnel-turn,
  wire_tunnel-double_turn
);

@each $building in $buildings {
    [data-icon="building_tutorials/#{$building}.png"] {
        background-image: url("../building_tutorials/#{$building}.png") !important;
    }
}

[data-icon="building_tutorials/virtual_processor-rotater_ccw.png"],
[data-icon="building_tutorials/virtual_processor-rotater_180.png"] {
    background-image: url("../building_tutorials/virtual_processor-rotater.png") !important;
}

[data-icon="building_tutorials/edge_detector.png"],
[data-icon="building_tutorials/edge_detector-falling.png"],
[data-icon="building_tutorials/edge_detector-change.png"] {
    background-image: url("../building_tutorials/edge_detector.png") !important;
}

[data-icon="building_tutorials/wire-third.png"],
[data-icon="building_tutorials/wire-fourth.png"] {
    background-image: url("../building_tutorials/wire-second.png") !important;
}
